.panel-crud .panel-heading {
  cursor: pointer;
}
.panel-heading .icon-accordion::after,
.panel-heading.collapsed .icon-accordion::after {
  display: block;
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  content: "\25B4";
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -moz-transition-property: all;
  -moz-transition-duration: .5s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -ms-transition-property: all;
  -ms-transition-duration: .5s;
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.panel-heading.collapsed .icon-accordion::after {
  content: "\25BE";
}

.section-details .panel-crud {
  margin-top: 20px;
  margin-left: 0;
}

.section-details .col-xs-12,
.section-details .col-sm-12 {
  padding-left: -15px !important;
  padding-right: -15px !important;
}