.action-indicator{
    position: absolute;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    z-index: 1000;
    animation-duration: 1s;
    animation-name: grow;
    animation-timing-function: ease-out;
    /*
    -webkit-transition: transform 1s, opacity 1s;
    -moz-transition: transform 1s, opacity 1s;
    -ms-transition: transform 1s, opacity 1s;
    -o-transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
    */
}

.action-indicator > small{
    position: relative;
    color: white;
    width: 60px;
    top: 16px;
    left: 4px;
}

.action-indicator.animate{
    transform: scale(2.0);
    opacity: 0.0;
}

@keyframes grow {
    from {
        transform: scale(0.0);
        opacity : 0.9;
    }

    to {
        transform: scale(2.0);
        opacity : 0.0;
    }
}