.content-list-cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
[class*="card-item"] > a {
  position: relative;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
  color: #4c4c4c;
  z-index: 0;
}
[class*="card-item"] > a:first-child {
  border-top: 1px solid #dddddd;
}
[class*="card-item"] > a > span {
  display: block;
  font-size: 0;
}
[class*="card-item"] > a > span > strong {
  display: block;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[class*="card-item"] > a > span > small {
  display: inline-block;
  vertical-align: middle;
  width: 33.3333%;
  font-size: 1.4rem;
}
[class*="card-item"] > a:hover,
[class*="card-item"] > a:active,
[class*="card-item"] > a:focus {
  cursor: pointer;
  color: #fff;
  background-color: #428bca;
}

[class*="card-item"] > a::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 2rem;
  display: block;
  margin-top: -.3rem;
  width: 0;
  height: 0;
  
  border-top: .4rem solid transparent;
  border-left: .6rem solid #4c4c4c;
  border-bottom: .4rem solid transparent;
  
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -moz-transition-property: all;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -ms-transition-property: all;
  -ms-transition-duration: .2s;
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  
}

[class*="card-item"] > a:hover::after,
[class*="card-item"] > a:active::after,
[class*="card-item"] > a:focus::after {
  border-left: 4rem solid #428bca;
  border-top: 3.05rem solid transparent;
  border-bottom: 3.05rem solid transparent;
  top: .4rem;
  right: -4rem;
}


/* tamanhos de card */
[class*="card-item-display-one-line"] > a:hover::after,
[class*="card-item-display-one-line"] > a:active::after,
[class*="card-item-display-one-line"] > a:focus::after {
  border-top: 2.05rem solid transparent;
  border-bottom: 2.05rem solid transparent;
}
[class*="card-item-display-two-lines"] > a:hover::after,
[class*="card-item-display-two-lines"] > a:active::after,
[class*="card-item-display-two-lines"] > a:focus::after {
  border-top: 3.05rem solid transparent;
  border-bottom: 3.05rem solid transparent;
}
[class*="card-item-display-three-lines"] > a:hover::after,
[class*="card-item-display-three-lines"] > a:active::after,
[class*="card-item-display-three-lines"] > a:focus::after {
  border-top: 4.05rem solid transparent;
  border-bottom: 4.05rem solid transparent;
}



.card-animation{
  -webkit-transition-property: all;
  -webkit-transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -moz-transition-property: all;
  -moz-transition-duration: .6s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -ms-transition-property: all;
  -ms-transition-duration: .6s;
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.header-card-details {
  color: #4c4c4c;
  font-weight: normal;
  padding: 1rem 1.2rem;
  background-color: #f5f5f5;
  border-radius: 4px;
  border-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.card-item-details {
  padding: .4rem .8rem;
}
.card-item-details:nth-child(odd) {
  background: #f5f5f5
}
.card-item-details > label {
  font-weight: normal;
  display: block;
}
