.container-typeahead {
  position: relative;
}

.typeahead-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  width: -webkit-calc(100% - 30px);
  /* para Chrome */  
  width: -moz-calc(100% - 30px);
  /* para Firefox */  
  width: calc(100% - 30px);
  margin: 2px 0 0 15px;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.typeahead-suggestion {
  list-style-type: none;
  padding: 4px 0;
  margin: 0;
}
.typeahead-suggestion a {
  display: block;
  padding: 4px 14px;
  color: #222;
  text-decoration: none;
}

.typeahead-suggestion:hover a,
.typeahead-suggestion.selected a{
  color: #fff;
  background-color: #0081c2;
}